/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        td_a: td_a {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_A";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp LA(A)>;

            tapping-term-ms = <150>;
        };

        td_ae: td_ae {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_AE";
            #binding-cells = <0>;
            bindings = <&kp U>, <&ma_ae>;

            tapping-term-ms = <150>;
        };

        td_oe: td_oe {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_OE";
            #binding-cells = <0>;
            bindings = <&kp I>, <&ma_oe>;

            tapping-term-ms = <150>;
        };
    };

    macros {
        ma_ae: ma_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp A>;
            label = "MA_A";
        };

        ma_oe: ma_oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp O>;
            label = "MA_OE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&none  &none       &none       &none        &none         &none                                   &none            &none         &none        &none       &none               &none
&none  &kp Q       &kp W       &kp E        &kp R         &kp T                                   &kp Y            &td_ae        &td_oe       &kp O       &kp P               &none
&none  &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G                                   &td_a            &mt RSHIFT J  &mt RCTRL K  &mt LALT L  &mt RGUI SEMICOLON  &kp SQT
&none  &lt 1 Z     &kp X       &kp C        &kp V         &kp B      &none          &none         &kp N            &kp M         &kp COMMA    &kp DOT     &lt 1 SLASH         &none
                               &none        &lt 6 ESCAPE  &lt 4 TAB  &lt 2 SPACE    &lt 3 RETURN  &lt 5 BACKSPACE  &lt 7 DELETE  &tog 8
            >;
        };

        button {
            bindings = <
&none  &none       &none      &none       &none        &none                       &none       &none        &none       &none      &none       &none
&none  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_REDO                  &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &none
&none  &kp LGUI    &kp LALT   &kp LCTRL   &kp LSHFT    &none                       &none       &kp RSHFT    &kp RCTRL   &kp RALT   &kp RGUI    &none
&none  &none       &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kt K_REDO  &none    &none  &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &none       &none
                              &none       &none        &none       &none    &none  &none       &none        &none
            >;
        };

        mouse {
            bindings = <
&none  &none     &none     &none      &none      &none                  &none       &none        &none       &none      &none       &none
&none  &none     &none     &none      &none      &none                  &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                  &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT  &none       &none
&none  &none     &none     &none      &none      &none  &none    &none  &none       &none        &none       &none      &none       &none
                           &none      &none      &none  &none    &none  &none       &none        &none
            >;
        };

        sym {
            bindings = <
&none  &none           &none     &none      &none                 &none                                      &none  &none      &none      &none     &none     &none
&none  &kp LEFT_BRACE  &kp AMPS  &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE                            &none  &none      &none      &none     &none     &none
&none  &kp COLON       &kp DLLR  &kp PRCNT  &kp CARET             &kp PLUS                                   &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none
&none  &kp GRAVE       &kp EXCL  &kp AT     &kp HASH              &kp PIPE               &none        &none  &none  &none      &none      &none     &none     &none
                                 &none      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS    &none  &none  &none      &none
            >;
        };

        nav {
            bindings = <
&none  &none     &none     &none      &none      &none                      &none          &none        &none       &none      &none       &none
&none  &none     &none     &none      &none      &none                      &kp K_REDO     &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                      &kp LEFT       &kp DOWN     &kp UP      &kp RIGHT  &kp CAPS    &none
&none  &none     &none     &none      &none      &none  &none    &none      &kp HOME       &kp PG_DN    &kp PG_UP   &kp END    &kp INSERT  &none
                           &none      &none      &none  &none    &kp ENTER  &kp BACKSPACE  &kp DEL      &none
            >;
        };

        num {
            bindings = <
&none  &none      &none   &none   &none    &none                          &none  &none      &none      &none     &none     &none
&none  &kp LBKT   &kp N7  &kp N8  &kp N9   &kp RBKT                       &none  &none      &none      &none     &none     &none
&none  &kp SEMI   &kp N4  &kp N5  &kp N6   &kp EQUAL                      &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none
&none  &kp GRAVE  &kp N1  &kp N2  &kp N3   &kp BSLH   &none        &none  &none  &none      &none      &none     &none     &none
                          &none   &kp DOT  &kp N0     &kp MINUS    &none  &none  &none      &none
            >;
        };

        media {
            bindings = <
&none  &none     &none     &none      &none      &none                  &none       &none         &none         &none         &none         &none
&none  &none     &none     &none      &none      &none                  &none       &none         &none         &none         &none         &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                  &none       &none         &kp K_VOL_DN  &kp K_VOL_UP  &none         &none
&none  &none     &none     &none      &none      &none  &none    &none  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none
                           &none      &none      &none  &none    &none  &none       &kp K_MUTE    &none
            >;
        };

        fun {
            bindings = <
&none  &none    &none   &none   &none   &none                                &none  &none      &none      &none     &none     &none
&none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN                      &none  &none      &none      &none     &none     &none
&none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SCROLLLOCK                       &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none
&none  &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK  &none        &none  &none  &none      &none      &none     &none     &none
                        &none   &none   &kp TAB          &kp SPACE    &none  &none  &none      &none
            >;
        };

        game {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                             &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &none
&kp TAB    &kp Q   &kp W   &kp E   &kp R     &kp T                              &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT
&kp LSHFT  &kp A   &kp S   &kp D   &kp F     &kp G                              &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C   &kp V     &kp B      &none        &none      &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &none
                           &none   &kp LGUI  &kp SPACE  &kp SPACE    &kp ENTER  &none   &none   &tog 0
            >;
        };
    };
};
