/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    behaviors {
        td_oe: td_oe {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_OE";
            #binding-cells = <0>;
            bindings = <&kp O>, <&oe_macro>;

            tapping-term-ms = <150>;
        };

        td_ae: td_ae {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_AE";
            #binding-cells = <0>;
            bindings = <&kp I>, <&ae_macro>;

            tapping-term-ms = <150>;
        };

        td_a: td_a {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_A";
            #binding-cells = <0>;
            bindings = <&kp U>, <&a_macro>;

            tapping-term-ms = <150>;
        };
    };

    macros {
        ae_macro: ae_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp A>;
            label = "AE_MACRO";
        };

        oe_macro: oe_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp O>;
            label = "OE_MACRO";
        };

        a_macro: a_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(A)>;
            label = "A_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC  &none        &none           &none               &none             &none                        &none  &none              &none                &none            &none           &none
&none    &kp Q        &kp W           &kp E               &kp R             &kp T                        &kp Y  &td_a              &td_ae               &td_oe           &kp P           &none
&none    &mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_COMMAND D  &mt LEFT_SHIFT F  &kp G                        &kp H  &mt RIGHT_SHIFT J  &mt RIGHT_COMMAND K  &mt RIGHT_ALT L  &mt RCTRL SEMI  &kp DOUBLE_QUOTES
&none    &kp Z        &kp X           &kp C               &kp V             &kp B  &none        &none    &kp N  &kp M              &kp COMMA            &kp DOT          &kp FSLH        &none
                                      &none               &kp TAB           &mo 1  &kp SPACE    &kp RET  &mo 2  &kp BSPC           &none
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &none      &none         &none         &none           &none                     &none     &none     &none         &none      &none              &none
&none   &kp N1     &kp N2        &kp N3        &kp N4          &kp N5                    &kp N6    &kp N7    &kp N8        &kp N9     &kp N0             &none
&none   &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_SHIFT  &none                     &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp DOUBLE_QUOTES  &none
&none   &none      &none         &none         &none           &none   &none     &none   &none     &none     &none         &none      &none              &none
                                 &none         &trans          &trans  &trans    &trans  &trans    &trans    &none
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &none            &none          &none         &none       &none                          &none   &none                 &none                  &none      &none      &none
&none   &kp EXCLAMATION  &kp AT_SIGN    &kp POUND     &kp DOLLAR  &kp PERCENT                    &none   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS   &kp TILDE  &none
&none   &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp MINUS   &kp EQUAL                      &none   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS  &kp PIPE   &none
&none   &none            &none          &none         &none       &none        &none     &none   &none   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none      &none      &none
                                        &none         &trans      &trans       &trans    &trans  &trans  &trans                &none
            >;
        };
    };
};
